html {

    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    width:100%;
    max-height: 100%;
    margin:0;
    border:0;
    padding:0;
    background-color: #fefefe;
    color: #00223a;
    font-family:"Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:400;
    text-align:center;
    font-size:100%;

}


head {

}


body {

}


header {

}


main {

}


section {

}

nav {

}


h1, h2, h3, h4, h5, h6 {

	font-size:175%;
    font-weight:100;
    margin:10px 0px 0px 0px;
    padding:0;
    border:0;
    text-align:center;

}

h1 {

    font-size:300%;
    font-weight:200;

}

@media screen and (min-width:1400px) {

    h1 {
        font-size:300%;
        font-weight:200;
    }


}

h2 {

    font-size:150%;

}

@media screen and (min-width:1400px) {

    h2 {
        font-size:200%;
    }
}

@media screen and (max-width:1200px) {

    h2 {
        font-size:100%;
        font-weight:500;
    }
}

a {

}

i {

    color:#cc3615;
    vertical-align:middle;
    font-size:50%;
    padding-left:4px;
    padding-right:4px;
    transform:scale(1.6,1.6);

}


p {
    text-align:left;
}

@media screen and (min-width:1400px) {

	p {

        margin:0% 20% 0% 20%;
        padding:5px;

    }
}

article {
    display:inline-block;
    width:70%;
    text-align: right;
}


object {

    max-width:450px;
    width:100%;
    min-height:300px;
}


img {

    max-width:450px;

}

svg {
    width:100%;
    max-width:500px;
}


button {

	background-color:#fefefe;
	color:#00223a;
	padding:10px;
	margin: 15px 0 20px 0;
	border-radius:1em;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	font-size:35px;
	font-weight:100;
	border: 1px solid #00223a;
	-webkit-transition-duration: 0.4s;
	transition-duration:0.4s;
	align-self: center;
    -webkit-tap-highlight-color:none;

}

button:hover {

	background-color:#00223a;
	color:#ffffff;
    -webkit-tap-highlight-color:none;

}

input {

    border-radius:1em;
    font-size:16px;
    font-weight:bold;
    padding:10px;
    color:#00223a;
    background-color:#fefefe;
    border: 1px solid #00223a;
    margin: 15px 0 20px 0;
    -webkit-tap-highlight-color:none;

}

::-moz-selection { /* Code for Firefox */
    color: #fefefe;
    background: #00223a;
}

::selection {
    color: #fefefe;
    background: #00223a;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

.token_select, select {

    background:transparent;
    width: 62.5%;
    padding: 5px;
    padding-left:10px;
    margin-left:0px;
    font-size: 16px;
    font-weight:300;
    line-height: 1;
    border: 1px solid #00223a;
    border-radius: 1em;
    height: 34px;
    -webkit-appearance:none;
    -webkit-tap-highlight-color:none;

}

@media screen and (max-width:1200px) {
    .token_select, select {
        width:65%;
    }
}

select {
    background: url(../img/down.svg) no-repeat right;
    height:40px;
    padding-top: 1px;
}

option {
    font-weight:300;
    margin-left:10px;
}

strong {

}

table {

    display:table;
    float:center;
    width:100%;
    border-collapse:collapse;
    transform:translateX(5%);

}
@media screen and (max-width:1200px) {

    table {
        transform:translateX(0);
        float:left;

    }

}

th {

    width:200px;
    text-align:right;
    font-weight:500;
    padding-right:20px;

}

@media screen and (max-width:1000px) {

    th {
        text-align:center;
        font-size:12px;
        font-weight:600;
        width:150px;
        margin-left:0;
        padding-right:4px;
        padding-left:0;
        border-left:0;
        column-width:100px;

    }

}

tr {
    text-align:left;
}

td {
    min-width:400px;
}

#claim_mbgn {
  pointer-events: all;
}

#center {

    display:inline-block;
    align-items:center;
    clear:all;

} 

@media screen and (max-width:1200px) {

    #center {

        display:inline-block;
        margin-left:0;
        align-items:left;
        padding-left:0;
        border-left:0;
        align-self:left;
        width:400px;

    }

}

#app_icon {

    max-width:200px;

}

.target_address {

    width:60%;
    max-width:60%;

}

#send_amount {

    width:60%;
    max-width:60%;

}

#copied {
    color:#99c772;
}

.copied {
    color:#99c772;
}

.left {
    text-align:left;
    display:inline-flex;
    padding-bottom:4px;
}

#target_address_list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

.delete_address {
    transform:translateX(4px);
    line-height:50%;
    vertical-align:middle;
    border-color:#cc3615;
}



@media screen and (max-width:1200px) {
    .left {
        margin:0;
        font-size:110%;
        font-weight:500;
        padding-bottom:10px;
    }
}

.send_token {
    margin: auto;
    display: block;
}


.invalid_address {
    background: linear-gradient(to right, #fefefe, #ffcc1a, #cc3615, #fefefe 65%);
}
